    <% if current_user == team.user %>

<tr>
    <td><%= team.description %></td>

    <td><%= link_to 'View Team', team %></td>
    <td><%= link_to 'Edit Team', edit_team_path(team) %></td>
    <td><%= link_to 'Delete Team', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 </tr>
 <% end %>