    <% if current_user == team.user %>

<tr>
    <td><%= team.description %></td>

   <td><%= link_to 'Show', cyclist %></td>
    <td><%= link_to 'Edit', edit_cyclist_path(cyclist) %></td>
    <td><%= link_to 'Destroy', cyclist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 </tr>
 <% end %>