<h1>Listing Teams</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
  <%= render @teams %>
</tbody>
  
</table>

<br />

<%= link_to 'New Team', new_team_path %>
